body {
    background-color: #435165;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border: 2px solid black;
    height:50px;
    width: 45%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size:14pt;
    text-align: center;
}

h1{
    margin-left: 2%;
}

textarea{
    border: 2px solid black;
    height: 250px;
    width: 92.5%;
    margin-left: 2%;
    text-align: center;
    font-size:14pt;
}